<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tomatoman.redis.mapper.RoleMapper">
  <resultMap id="BaseResultMap" type="com.tomatoman.redis.entity.Role">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="role_name" jdbcType="VARCHAR" property="roleName" />
  </resultMap>

  <sql id="Base_Column_List">
    id, role_name
  </sql>


  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_role
    where id = #{id,jdbcType=INTEGER}
  </select>

  <!--<select id="selectRolesByUid" parameterType="java.lang.Integer" resultMap="BaseResultMap">-->
    <!--select-->
    <!--<include refid="Base_Alias_inner_Column_List" />-->
    <!--from tb_user_role ur, tb_role r-->
    <!--where ur.uid = #{uid,jdbcType=INTEGER} AND ur.role_id = r.id-->
  <!--</select>-->

  <!--<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">-->
    <!--delete from tb_role-->
    <!--where id = #{id,jdbcType=INTEGER}-->
  <!--</delete>-->
  <!--<insert id="insert" parameterType="com.bc.keymanager.saas.entity.Role">-->
    <!--insert into tb_role (id, role, description-->
      <!--)-->
    <!--values (#{id,jdbcType=INTEGER}, #{role,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}-->
      <!--)-->
  <!--</insert>-->
  <!--<insert id="insertSelective" parameterType="com.bc.keymanager.saas.entity.Role">-->
    <!--insert into tb_role-->
    <!--<trim prefix="(" suffix=")" suffixOverrides=",">-->
      <!--<if test="id != null">-->
        <!--id,-->
      <!--</if>-->
      <!--<if test="role != null">-->
        <!--role,-->
      <!--</if>-->
      <!--<if test="description != null">-->
        <!--description,-->
      <!--</if>-->
    <!--</trim>-->
    <!--<trim prefix="values (" suffix=")" suffixOverrides=",">-->
      <!--<if test="id != null">-->
        <!--#{id,jdbcType=INTEGER},-->
      <!--</if>-->
      <!--<if test="role != null">-->
        <!--#{role,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="description != null">-->
        <!--#{description,jdbcType=VARCHAR},-->
      <!--</if>-->
    <!--</trim>-->
  <!--</insert>-->
  <!--<update id="updateByPrimaryKeySelective" parameterType="com.bc.keymanager.saas.entity.Role">-->
    <!--update tb_role-->
    <!--<set>-->
      <!--<if test="role != null">-->
        <!--role = #{role,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="description != null">-->
        <!--description = #{description,jdbcType=VARCHAR},-->
      <!--</if>-->
    <!--</set>-->
    <!--where id = #{id,jdbcType=INTEGER}-->
  <!--</update>-->
  <!--<update id="updateByPrimaryKey" parameterType="com.bc.keymanager.saas.entity.Role">-->
    <!--update tb_role-->
    <!--set role = #{role,jdbcType=VARCHAR},-->
      <!--description = #{description,jdbcType=VARCHAR}-->
    <!--where id = #{id,jdbcType=INTEGER}-->
  <!--</update>-->
</mapper>